*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    /* border: 2px solid blue; */
    max-width: 100dvw;
    min-height: 50px;
    display: flex;
    background-color: rgb(71, 4, 134);
    position: sticky;
    
}

nav h3{
    font-size: 30px;
    width: 40%;
}

ul{
    display: flex;
    width: 60dvw;
    justify-content: space-evenly;
    /* margin-right: auto; */
    align-items: center;


}

ul>li{
    list-style: none;
}