.skillCards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* gap: 10%; */
    margin: 10px;
    padding: 10px;
    justify-content: center;
    align-items: center;

}

.skillsbox{
    margin: 1.2rem;
}

#skills{
    text-align: center;
    margin-bottom: 1.2rem;
}

h3{
    font-size: 40px;
    margin: 10px;
    /* padding: 10px; */
}

.projectSection {
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
    gap: 1.2rem;
    padding: 1rem;
}
#projects{
    text-align: center;
    margin-bottom: 1.5rem;
}

@media (max-width: 610px){
    .skillsbox{
        margin: 0.8rem;
    }

    .skillCards{
        margin: 0;

    }

    #skills{
        font-size: 35px;
    }

    #projects{
        font-size: 35px;
    }

}





