*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* overflow-x: hidden; */
}

html{
    scroll-behavior: smooth;
}

body{
     background-color: #121214;
  background-image:
    linear-gradient(rgba(168, 85, 247, 0.08) 1px, transparent 1px),
    linear-gradient(90deg, rgba(168, 85, 247, 0.08) 1px, transparent 1px);
  background-size: 60px 60px;
  animation: gridMove 18s linear infinite;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

@keyframes gridMove {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 60px 60px;
  }
}